@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --lexend-font : "Lexend Exa", sans-serif;
    --mullish-font : "Mulish", sans-serif;
    --roboto-font : "Roboto", sans-serif;
    --main-bg-color : #F5F5F5;
    --main-text-color:#333333;
    --gray-border : #88888882;
    --footer-bg: #e0e0e0;
}
body{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    transition: all 0.3s linear;
}
.dark-mode{
    --main-text-color :  #fff;
    --main-bg-color:rgb(29, 28, 28);
    --footer-bg : #2c2c2c;
}

.layout{
    min-height:100vh;
    position: relative;
}
.top-bar{
    height: 20vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    border-bottom: 1px solid var(--footer-bg);
    transition: all 0.3s linear;
    position: relative;
}
.header-right-section i{
    margin:0 10px;
    cursor: pointer;
    color: var(--main-text-color);
}
.header-right-section{
    display: flex;
    align-items: center;
}
.status{
    position: absolute;
    background-color:  #817e7e99;
    color: #fff;
    padding: 3px 5px;
    font-size: 0.7rem;
    font-family: var(--roboto-font);
    border-radius: 12px;
    top: -400px;
    left:50%;
    transform: translate(-50%);
    transition: top 0.2s linear;
}
.toolbar{
    min-height:12vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:10px 80px;
    justify-content: center;
}
.footer-container{
    position: relative;
}
.bottom-bar {
    display: flex;
    align-items: center;
    width:100%;
    height:5vh;
    font-family: var(--mullish-font);
    background-color: pink;
    color: rgb(132, 131, 131);
    position: fixed;
    bottom: 0;
    background-color:var(--footer-bg) ;
    justify-content: space-between;
    padding:0 20px;
    font-size: 0.7rem;
    font-weight: 500;
    box-shadow:  0 -1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}
.general-text-info{
    width:30vw;
    display: flex;
}
.general-text-info > div{
    margin-left:8px;
}

.text-area-container{
    min-height:60vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-area{
    border: 1px solid var(--footer-bg);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    outline: 0;
    width: 90vw;
    min-height: 55vh; 
   overflow: hidden;
    padding: 30px;
    caret-color: var(--gray-border)
}
.text-area::selection{
    background: #64bbf4;
    color: white;
}
.heading{
    width:fit-content;
    pointer-events: none;
}
.title{
        font-size: 3.5rem;
        font-family: var(--lexend-font);
        font-optical-sizing: auto;
        font-weight: 900;
        padding: 0;
        margin: 0;
}
.title > span{
   font-size: 0.9rem;
   display: block;
    text-align: center;
    font-family: var(--mullish-font);
    font-optical-sizing: auto;
    font-weight: 300;
}
.about-heading{
    font-family: var(--roboto-font);
    font-weight: 400;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left:5px;
}
.about-heading:active{
    transform: scale(0.98);
}

.about{
    font-family: var(--mullish-font);
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
    width: 100%;
    flex-wrap: wrap;
    padding:20px 30px;
}
.about h2, .about h3{
    font-weight: 800;
    margin:20px 0;
    letter-spacing: 0.6px;
}
.about p{
    line-height: 30px;
    margin-bottom: 30px;
}
.about li{
    margin-bottom: 15px;
    list-style-type: none;
    line-height: 30px;
}
.about-text{
    font-weight: 600;
}
.about strong{
    font-weight: 800;
}
.about-section-title{
    margin: 40px 0 20px;
    letter-spacing: 0.3px;
    font-size: 2.3rem;
}
.about-section-title span::after{
content:"" ;
border-left: 4px solid var(--main-text-color);
margin: 0 10px 0 12px;
}

.about a{
text-decoration: none;
color: #0000EE;
font-weight: 700;
}
.about a:hover{
    text-decoration: underline;
}

.darkmode-icon{
    margin-right:10px;
    cursor: pointer;
}
.about-section{
   background-color: aquamarine;
   min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: var(--roboto-font);
    font-weight: 800;
    letter-spacing: 1px;
   font-size: 1.5rem;
}

.about-section-title{
    font-weight: 800;
}
.toolbar > div{
   margin: 5px;
   display: flex;
   align-items: center;
}

 .toolbar-icons{
 font-size: 1rem;
 color:gray;
 padding:7px;
 cursor: pointer;
 position: relative;
 }

 .toolbar-icons:hover, .toolbar-icons:active{
color:rgb(76, 74, 74);
 }
 
input[type = "color"]{
width : 30px;
height:30px;
padding:0;
padding-top:18px;
position: relative;
background-color: transparent;
border: 0;
}

input[type = "color"]::before{
    content:"A";
    font-weight:500;
    position: absolute; 
   padding-bottom:7px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  
}

input[type = "color"]:last-of-type::before{
   content: url("./assets/Fill-icon.svg");
   font-size:0.9rem;
   padding-bottom:5px;
  
}
 

/* DROPDOWN MENU */

.dropdown-fontFamily , .dropdown-fontSize{
color:gray;
width:100px;
padding:7px;
cursor: pointer;
border: 0;
background-color: inherit;
font-size: 0.8rem;
outline: 0;
}
.dropdown-fontFamily:hover , .dropdown-fontFamily:active, .dropdown-fontSize:hover, .dropdown-fontSize:active{
    color:rgb(76, 74, 74);
}
.dropdown-item{
    color: var(--main-text-color);
}

.features{
    width:20vw;
}

/* TOOLBAR FEATURES */

.bold{
    font-weight: 700;
}
.italic{
  font-style: italic;
}
.underline{
    text-decoration:underline ;
}
.left-align{
    text-align: left;
    display: block;
}
.center-align{
    text-align: center;
    display: block;
}
.right-align{
    text-align: right;
    display: block;
}
.justify-align{
    text-align: justify;
    display: block;
}
.unordered-list{
    list-style-type: disc;
    display: list-item;
}
.ordered-list{
    list-style-type: decimal;
    display: list-item;
}

.active{
    background-color: #a4a3a3c0;
}

.extra-features{
    display: flex;
    align-items: center;
}

/* TIMERS UI  */


.timers-container{
   display: flex; 
   align-items: center;
   position: relative;
   transition: width 0.6s linear
}
.timers-container > div{
font-family: var(--lexend-font);
margin:5px;
background-color: var(--main-text-color);
color: var(--main-bg-color);
padding:13px 8px;
border-radius: 50%;
cursor: pointer;
transition: transform 0.3s linear;
display:none;
}
.timer-selections::after{
content: "m";
font-size:10px;
}
.selected-time{
    display:block !important;
}
.timers-container > div:hover{
transform: scale(1.1);
}

/*distraction mode*/
.distraction-mode-toggle{
    opacity: 0;
    height:0;
}

/*tooltip*/

.toolbar-icons::after, .fa-hourglass::after{
    content : "";
     font-family: var(--lexend-font);
    padding:4px 5px;
    position:absolute;
    border-radius: 7px;
    font-size: 6px;
    background-color: #817e7e99;
    color:white;
    left: -10px;
    top:-10px;
    opacity: 0;
    transition: opacity 0.2s linear;
    text-align: center;
    font-weight: 400;
    }
    .toolbar-icons:hover::after{
     opacity: 1;
    }

.fa-bold::after{
    content:"bold"
}
.fa-floppy-disk::after{
    content:"save"
}
.fa-copy::after{
    content:"copy"
}
.fa-paste::after{
    content:"paste"
}
.fa-italic::after{
    content:"italic"
}

.fa-underline::after{
    content:"underline"
}
.fa-list::after{
    content:"bullet list"
}
.fa-list-ol::after{
    content:"number list"
}
.fa-align-left::after {
    content:"align left"
}
.fa-align-justify::after {
    content:"align justify"
}
.fa-align-right::after{
    content:"align right"
}
.fa-align-center::after{
    content:"align center"
}
.text-color::after{
    content:"text color"
}
.text-bg::after{
    content:"highlight"
}
.fa-eye-slash::after
{
    content:"distraction free"
}
.fa-microphone::after{
    content:"speech to text"
}
.fa-trash::after{
    content:"delete"
}
.fa-hourglass::after{
  content: "timer";
}
.fa-up-down-left-right::after{
content: "resize";
}

/*Responsive*/

@media screen and (max-width: 700px){
    html{
        font-size: 11px;
    }
    .header-right-section i{
        margin:0 5px; 
    }
    .text-editing-features, .dropdown-features, .extra-features{
        border-left: 0;
        }
    .toolbar select{
        width:70px;
    }
    .toolbar{
        line-height:5px;
    }
    .text-editing-features{
        text-align: center;
    }
    .about p,li{
  font-size:15px;
    }

}
@media screen and (min-width: 925px){

    .text-editing-features, .dropdown-features, .extra-features{
        border-left: 1px solid var(--footer-bg);
        }
      
    }


@media screen and (min-width: 650px){
html{
    font-size: 15px;
}
.about{
    padding:20px 100px ;
}
}